@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.MedicineManufactoryVM

@{
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<div class="container mt-5">
    <div class="card shadow p-4 rounded">
        <div class="card">
            <div class="card-header">
                <h2>@Model.Name</h2>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> @Model.Name</p>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


