@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCustomerVM

<div class="container mt-5">
    <h2>Customer @Model.FirstName @Model.LastName Details</h2>
    <div class="card shadow-lg p-4 rounded">
        <div class="row mb-4">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-3 font-weight-bold">First Name</dt>
                    <dd class="col-sm-9">@Model.FirstName</dd>

                    <dt class="col-sm-3 font-weight-bold">Last Name</dt>
                    <dd class="col-sm-9">@Model.LastName</dd>

                    <dt class="col-sm-3 font-weight-bold">Email</dt>
                    <dd class="col-sm-9">@Model.Email</dd>

                    <dt class="col-sm-3 font-weight-bold">Phone</dt>
                    <dd class="col-sm-9">@Model.Phone</dd>

                    <dt class="col-sm-3 font-weight-bold">State</dt>
                    <dd class="col-sm-9">@Model.State</dd>

                    <dt class="col-sm-3 font-weight-bold">City</dt>
                    <dd class="col-sm-9">@Model.City</dd>

                    <dt class="col-sm-3 font-weight-bold">Region</dt>
                    <dd class="col-sm-9">@Model.Region</dd>

                    <dt class="col-sm-3 font-weight-bold">Street</dt>
                    <dd class="col-sm-9">@Model.Street</dd>

                    @* <dt class="col-sm-3 font-weight-bold">Gender</dt>
                    <dd class="col-sm-9">@Model.Gender</dd>

                    <dt class="col-sm-3 font-weight-bold">Date of Birth</dt>
                    <dd class="col-sm-9">@Model.DateOfBirth</dd>

                    <dt class="col-sm-3 font-weight-bold">Profile Picture</dt>
                    <dd class="col-sm-9">
                        <img src="~/Files/Images/@Model.ProfilePicture" alt="Profile Picture" class="img-fluid" style="max-width:200px; max-height:200px;" />
                    </dd>
                    <dt class="col-sm-3 font-weight-bold">National ID Number</dt>
                    <dd class="col-sm-9">@Model.PersonalNationalIDNumber</dd>

                    <dt class="col-sm-3 font-weight-bold">National ID Card</dt>
                    <dd class="col-sm-9">
                        <img src="~/Files/Images/@Model.PersonalNationalIDCard" alt="Profile Picture" class="img-fluid" style="max-width:200px; max-height:200px;" />
                    </dd> *@
                </dl>
            </div>
        </div>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
