@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCustomerVM

@{
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow p-4 rounded">
        <div class="card">
            <div class="card-header">
                <h2>Customer: @Model.FirstName @Model.LastName</h2>
            </div>
            <div class="card-body">
                <div>
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Phone:</strong> @Model.Phone</p>
                    <p><strong>State:</strong> @Model.State</p>
                    <p><strong>City:</strong> @Model.City</p>
                    <p><strong>Region:</strong> @Model.Region</p>
                    <p><strong>Street:</strong> @Model.Street</p>
                </div>
                <div class="mt-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
