@using CMS.Utitlities.StaticData
@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCustomerVM

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="card shadow p-4 rounded">
        <form asp-action="Edit" method="post" class="needs-validation" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="pageNumber" value="@ViewBag.currentPage"/>
            <div class="d-flex flex-row mb-3 gap-3">
                <div class="form-group w-50">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control me-4" type="text" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" type="text" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-row mb-3 gap-3">
                <div class="form-group w-50">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control me-4" type="email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Phone" class="control-label">Phone Number</label>
                    <input asp-for="Phone" class="form-control" type="tel" placeholder="Phone Number" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-row mb-3 gap-3">
                <div class="form-group w-50">
                    <label asp-for="State" class="control-label">State</label>
                    <select class="form-control me-4" asp-for="State">
                        <option selected>Select State</option>
                        @foreach (var item in CMS.Utitlities.StaticData.State.States)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="City" class="control-label">City</label>
                    <select class="form-control" asp-for="City">
                        <option selected>Select City</option>
                        @foreach (var item in CMS.Utitlities.StaticData.City.cities)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-row mb-3 gap-3">
                <div class="form-group w-50">
                    <label asp-for="Region" class="control-label">Region</label>
                    <input asp-for="Region" class="form-control me-4" type="text" placeholder="Region" />
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Street" class="control-label">Street</label>
                    <input asp-for="Street" class="form-control" type="text" placeholder="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Edit</button>
            <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
</div>

