@using CMS.Models.CuraHub.PharmacySection
@using CMS.Models.CuraHub.PharmacySection.PharmacySectionVM
@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.MedicineVM

@{
    ViewData["Title"] = "Create Medicine";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="card shadow p-4 rounded">
        <form asp-action="Create" class="needs-validation" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <div class="invalid-feedback">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <div class="invalid-feedback">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" type="number" />
                    <div class="invalid-feedback">
                        <span asp-validation-for="Price"></span>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" type="number" />
                    <div class="invalid-feedback">
                        <span asp-validation-for="Quantity"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-6 mb-3">
                    <label asp-for="MedicineManufactoryId" class="form-label">Select Manufactory</label>
                    <select class="form-control" asp-for="MedicineManufactoryId">
                        <option value="">Select Manufactory</option>
                        @foreach (var item in (List<PharmacyCategory>)ViewData["PharmacyCategory"])
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MedicineManufactoryId" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="PharmacyCategoryId" class="form-label">Select Pharmacy Category</label>
                    <select class="form-control" asp-for="PharmacyCategoryId">
                        <option value="">Select Pharmacy Category</option>
                        @foreach (var item in (List<MedicineManufactory>)ViewData["MedicineManufactory"])
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="PharmacyCategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="File" class="control-label">Image</label>
                <input asp-for="File" class="form-control" type="file" />
                <div class="invalid-feedback">
                    <span asp-validation-for="File"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create</button>
            <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
