@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCategoryVM

@{
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}

<div class="container mt-5">
    <h1>Details</h1>
    <div class="card shadow p-4 rounded">
        <div>
            <dl class="row text-black">
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">@Model.Name</dd>

                <dt class="col-sm-2">Description</dt>
                <dd class="col-sm-10">@Model.Description</dd>

                <dt class="col-sm-2">Image</dt>
                <dd class="col-sm-10"><img src="~/Files/Images/PharmacyCategories/@Model.Img" class="img-fluid mb-2" style="height: 200px; width: auto; object-fit: contain;"></dd>
            </dl>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-primary">Edit</a>
        <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary">Cancel</a>
    </div>
</div>


