@model List<CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyDeliveryRepresentativeVM>

<div class="mb-3 d-flex align-items-center justify-content-between">
    <h1>Deliveries</h1>
    <a asp-action="Create" class="btn btn-primary">Create New Pharmacist</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Delivery in Model)
        {
            <tr>
                <td>@Delivery.Id</td>
                <td>@Delivery.FirstName @Delivery.LastName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@Delivery.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@Delivery.Id" class="btn btn-warning">Edit</a>
                    <form asp-action="Delete" asp-route-id="@Delivery.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
